body, 
.wombatBody,
.sectionContainer {
  background-color: #ffffff;
}
.wombatBody md-toolbar
{
  background-color: #607d8b !important;
  position:fixed; 
  z-index: 10;
}

.wombatBody md-toolbar .md-button
{
  color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.sectionContainer
{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}


md-toolbar .logo-container
{
  height:60%;
}
 md-toolbar .logo-container .site-logo{
}

 md-toolbar .logo-container .site-logo img{
  height: 100%;
  width: auto;
}
.wombatBody md-toolbar md-menu .md-button
{
  border-radius: 0px;
}
.wombatBody md-toolbar md-icon.toolbarMenu 
{
  color: white; 
  font-size: 36px;
  height: 36px;
  width: 36px;
}


.mainBodySection
{
  margin-top: 64px;
  background-image: url('../images/WhiteHipster.png');
  background-size:cover;
}
.mainBodySection h1
{
  color: #00acc1;
}
.mainBodySection h1,
.mainBodySection h2
{
}
.mainBodySection .md-button
{
  margin-top: 50px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.mainBodySection .sectionContainer
{
  background: transparent;
}
.learnMore a
{
  text-decoration: none;
}
.learnMore a span
{
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}
.learnMore md-icon
{
  font-size: 48px;
  width: 48px;
  height: 48px;
}


.signupBar
{
  background-color: #eceff1;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  min-height: 64px;
}
.signupBar .md-button
{
  min-width: 200px;
}
.signupBar .signupSpacer
{
  width: 30%;
}


.about
{
  background-color: #00acc1;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left , #f74272, #00acc1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right , #f74272, #00acc1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right , #f74272, #00acc1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right , #f74272, #00acc1); /* Standard syntax */

  color: white;
}
}
.about h2, .about p
{
  color: white;
}


.columns {
  position: relative;
  box-sizing: border-box;
}
.sectionContainer .columns:last-of-type
{
  margin-bottom: 0px;
}

.columns .imageWrapper
{
  position: relative;
}
.columns .imageWrapper img
{
  position: absolute;
  height: 100%;
  width: auto;
  object-fit: contain;
}
.columns .cubeWrapper
{
  border-color: #607d8b;
  border-style: solid;
  border-width: 3px;
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.cubeWrapper:after
{
  padding-top: 100%;
  display: block;
  content: '';
}
.cubeWrapper > div
{
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.horizontalLine {
  border-top: thick solid #607d8b;
  width: 50%;
}
.connectorRight
{
  position: absolute;
  top: 50%;
  left: 40%;
  width: 40%;
  height: 50%;
  border-top: thick solid #607d8b;
  border-right: thick solid #607d8b;
  box-sizing: border-box;
}

.connectorLeft
{
  position: absolute;
  top: 50%;
  right: 40%;
  width: 40%;
  height: 50%;
  border-top: thick solid #607d8b;
  border-left: thick solid #607d8b;
  box-sizing: border-box;
}
.verticalLine {
  border-left: thick solid #607d8b;
  height: 100%;
}
.verticalLine.phone
{
  height: 20px;
}



.testimonials
{
  width: 100%;
}
.testimonialTabContainer
{
  width: 100%;
}
.testimonials
{
  background-color: #B0BDC5;
  padding-top: 20px;
  padding-bottom: 20px;
}
img.brandImage
{
  display: block;
  height: auto;
  width: 20%;
  max-width: 20%;
}
.testimonials p
{
  color: #607d8b;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.testimonials md-content
{
  height: 100px;
  background-color: #B0BDC5;
}


.testimonials md-tabs
{
  min-height: 100px !important;
}
.testimonials md-tabs-wrapper,
.testimonials md-tabs-canvas
{
  height: 0px;
}

.testimonials md-tabs-content-wrapper
{
  top: 0px;
}

.testimonials md-tabs md-content{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
.testimonialScroller
{
  width: 10px;
  height: 10px;
  background-color: #c9c9c9;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.testimonialScroller.selected
{
  background-color: #00acc1;
}

.pricingSignup
{
  background-color: white;
}

.pricing h3
{
  font-weight: bold;
}

.pricingSpacer
{
}


.signupContainer
{
  background-color: white;
  padding-top: 0px;
}

.signupContainer .formField
{
  margin-bottom: 10px;
}

.signupContainer input
{
  border-color: #c9c9c9;
}

.signupContainer .md-button
{
  margin-top: 20px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}


.team
{
  background-color: #eceff1;
}

.teamMember
{ 
  box-sizing: border-box;
}
.teamMember p
{
  text-align: center;
}
.teamMemberName
{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.teamMemberPosition
{
  text-align: center;
  margin-bottom: 10px;
}

.team .avatar
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #00acc1;
}

.team .avatar:hover
{ 
  border-color: #80deea;
}





.footer
{
  background-color: #323232;
}

.footer h4,
.footer p
{
  color: white;
}

.footer .links
{
  margin-bottom: 20px;
}

.socialIcons
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 200px;
}
.socialIcons a
{
  margin-left: 10px;
  color: #00acc1;
}

.socialIcons a img
{
  height: 25px;
  width: auto;
}

.socialIcon:hover
{
  color: #80deea;
}

.socialIcons:hover img path
{
  fill: #00acc1;
}
.socialIcon
{
  font-size: 25px;
  display: inline-block;
}
p.copyright
{
  text-align: center;
  font-size: 12px;
}

.footer .timeto
{
  text-align: center;
}
.footer span.highlight
{
  color: #fbb811;
  font-weight: bold;
}
.changingTextDefault
{
  font-weight: bold;
}

@media screen and (max-width:600px)
{
  .signupBar
  {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .signupBar p
  {
    text-align: center;
  }
  .mainBodySection {
    height:90vh;
    margin-top: 56px;
  }
  .mainBodySection
  {
    background-position: 40%;
  }

  .columns .left
  {
    margin-right: 0px;
  }
  .columns .right
  {
    margin-left: 0px;
  }
}

@media screen and (min-width:601px)
{
  .mainBodySection {
    height:90vh;
    min-height: 400px;
  }
  .signupBar p
  {
    margin-right: 30px;
    min-width: 350px;
  }
}