body, 
.wombatBody,
.sectionContainer {
  background-color: #ffffff;
}
.wombatBody md-toolbar
{
  background-color: rgba(255, 255, 255, 0.85); !important;
  position:fixed; 
  z-index: 10;
}

.wombatBody h1,
.wombatBody h2,
.wombatBody h3,
.wombatBody h4
{
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}
label,p
{
  text-align: center;
}

.wombatBody md-toolbar .md-button
{
  color: #00acc1;
}

a.anchor {
    display: block;
    position: absolute;
    top: -64px;
    visibility: hidden;
}

.sectionContainer
{
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}


md-toolbar .logo-container
{
  height:60%;
}
 md-toolbar .logo-container .site-logo{
}

 md-toolbar .logo-container .site-logo img{
  height: 100%;
  width: auto;
}
.wombatBody md-toolbar md-menu .md-button
{
  border-radius: 0px;
}
.wombatBody md-toolbar md-icon.toolbarMenu 
{
  color: black; 
  font-size: 36px;
  height: 36px;
  width: 36px;
}

.md-button.bordered
{
  border: 1px solid #00acc1 !important;
}

.mainBodySection
{
  margin-top: 64px;
  background-color: white;
}
.mainBodySection h1
{
  color: #00acc1;
}
.headerImage
{
  width: 50%;
  height: auto;
}
.mainBodySection h1,
.mainBodySection h2,
.mainBodySection h3
{
  text-align: center;
}

.mainBodySection h3
{
  font-weight: 300;
}

.mainBodySection .md-button
{
  margin-top: 50px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: normal;
}
.mainBodySection .md-button
{
  font-size: 18px;
}

.mainBodySection .sectionContainer
{
  background: transparent;
}
.learnMore a
{
  text-decoration: none;
}
.learnMore a span
{
  font-size: 12px;
  margin-bottom: 10px;
}
.learnMore md-icon
{
  font-size: 36px;
  width: 36px;
  height: 36px;
}


.about
{
  background-color: #00acc1;
  color: white;
  /*
  background-color: #00acc1;/ * For browsers that do not support gradients * /
  background: -webkit-linear-gradient(left , #f74272, #00acc1); /* For Safari 5.1 to 6.0 * /
  background: -o-linear-gradient(right , #f74272, #00acc1); /* For Opera 11.1 to 12.0 * /
  background: -moz-linear-gradient(right , #f74272, #00acc1); /* For Firefox 3.6 to 15 * /
  background: linear-gradient(to right , #f74272, #00acc1); /* Standard syntax * /
*/
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.about h2, .about p
{
  color: white;
  text-align: center;
}

.columnsContainer
{
  background-color: #f5f7f8;
}


.columnsContainer img
{
  max-height: 60vh;
}
.columnsContainer.one,
.columnsContainer.three,
.signupContainer
{
  border-top: 1px solid #607d8b;
  border-bottom: 1px solid #607d8b;
}

.columnsContainer.two
{
  background-color: white;
}
.columnsContainer.three
{
  background-color: #eceff1;

}

.columnsContainer.four
{
  background-color: white;
}

.columnsContainer .columns:last-of-type
{
  margin-bottom: 0px;
}

.horizontalLine {
  border-top: 3px solid #607d8b;
  width: 50%;
}

.verticalLine.phone
{
  border-left: thick solid #607d8b;
  height: 20px;
}



.testimonials
{
  width: 100%;
}
.testimonialTabContainer
{
  width: 100%;
}
.testimonials
{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
img.brandImage
{
  display: block;
  height: auto;
  width: 20%;
  max-width: 20%;
}
.testimonials p
{
  color: #607d8b;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.referrer
{
  font-weight: normal;
}

.testimonials md-content
{
  height: 100px;
  background-color: white;
}


.testimonials md-tabs
{
  min-height: 100px !important;
}
.testimonials md-tabs-wrapper,
.testimonials md-tabs-canvas
{
  height: 0px;
}

.testimonials md-tabs-content-wrapper
{
  top: 0px;
}

.testimonials md-tabs md-content{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
.testimonialScroller
{
  width: 10px;
  height: 10px;
  background-color: #c9c9c9;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.testimonialScroller.selected
{
  background-color: #00acc1;
}

.signupContainer
{
  background-color: #f5f7f8;
}

.pricing h3
{
  font-weight: bold;
}

.pricing p.freeTrial
{
  margin: 0;
  margin-top: 10px;
}
.pricing p.mau
{
  font-size: 14px;
}

.signupContainer .formField
{
  margin-bottom: 10px;
}

.signupContainer input
{
  width: 100%;
}

.signupContainer .md-button
{
  margin-top: 20px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.signupForm
{
  width: 100%;
  background-color: white;
  padding: 20px;
  border: 1px solid #00acc1 !important;
}
.formField
{
  width: 100%;
}
.formField label
{
  font-weight: bold;
  font-size: 14px;
}
.formField input
{
  text-align: center;
  border-color: #f5f7f8;
  border-width: 1px;
}


.team
{
  background-color: #c9c9c9;
}
.sectionContainer.team h2,
.signupContainer h2
{
  margin-bottom: 20px;
}

.teamMember
{ 
  box-sizing: border-box;
}
.teamMember p
{
  text-align: center;
}
.teamMemberName
{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.teamMemberPosition
{
  text-align: center;
  margin-bottom: 10px;
}

.team .avatar
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #00acc1;
}

.team .avatar:hover
{ 
  border-color: #80deea;
}





.footer
{
  background-color: #323232;
}

.footer h4,
.footer p
{
  color: white;
}

.footer .links
{
  margin-bottom: 20px;
}

.socialIcons
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 200px;
}
.socialIcons a
{
  margin-left: 10px;
  color: #00acc1;
}

.socialIcons a img
{
  height: 25px;
  width: auto;
}

.socialIcon:hover
{
  color: #80deea;
}

.socialIcons:hover img path
{
  fill: #00acc1;
}
.socialIcon
{
  font-size: 25px;
  display: inline-block;
}
p.copyright
{
  text-align: center;
  font-size: 12px;
}

.footer .timeto
{
  text-align: center;
}
.footer span.highlight
{
  color: #fbb811;
  font-weight: bold;
}
.changingTextDefault
{
  font-weight: bold;
}

.whiteDividerLine
{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  max-width: 100%;

  border-top: 1px solid white;
}

@media screen and (max-width:599px)
{
  .signupBar
  {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .signupBar p
  {
    text-align: center;
  }
  .mainBodySection {
    height:90vh;
    margin-top: 56px;
  }
  .mainBodySection
  {
    background-position: 40%;
  }

  .columns .left
  {
    margin-right: 0px;
  }
  .columns .right
  {
    margin-left: 0px;
  }

  .submitContainer,
  .md-button.requestAccess
  {
    width: 100%;
  }
  a.anchor
  {
    top: -56px;
  }
}

@media screen and (min-width:600px)
{

  .wombatBody md-toolbar
  {
    padding-left: 10%;
    padding-right: 10%;
  }
  .sectionContainer p.sectionText
  {
    font-weight: normal;
    max-width: 80%;
    text-align: center;
  }

  .mainBodySection {
    height:90vh;
    min-height: 400px;
  }

  .pricing
  {
    min-width: 350px;
  }
  .signupBar p
  {
    margin-right: 30px;
    min-width: 350px;
  }
}

@media screen and (min-width:600px)  and (max-width:1279px)
{
}